<ul class="nav justify-content-end titlecolor">
    <a class="nav-link active" href="/calender.html">
      <img class="svg emoji-icon" src="/svg/emoji-happy.svg" width="0">
      心情日历
    </a>
  </ul>
  <ul class="list-group">
      <a href="#" class="list-group-item">
        <div class="row no-gutters" >
          <div class="col-2"><h4>04<span class="text-small">3月</span></h4></div>
          <div class="col-9 col-lg-10 text-muted limit-three">我的日记== == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == == ==</div>
          <div class="col"> <img class="svg emoji-secondary float-right" src="/svg/emoji-happy.svg" width="0"></div>
        </div>
      </a>
  </ul>
  
  <script>
     var group = $(".list-group").html();
    $(".list-group").append(group); 
   /*
       * Replace all SVG images with inline SVG
       */
          $('img.svg').each(function(){
              var $img = jQuery(this);
              var imgID = $img.attr('id');
              var imgClass = $img.attr('class');
              var imgURL = $img.attr('src');
  
              $.get(imgURL, function(data) {
                  // Get the SVG tag, ignore the rest
                  var $svg = $(data).find('svg');
  
                  // Add replaced image's ID to the new SVG
                  if(typeof imgID !== 'undefined') {
                      $svg = $svg.attr('id', imgID);
                  }
                  // Add replaced image's classes to the new SVG
                  if(typeof imgClass !== 'undefined') {
                      $svg = $svg.attr('class', imgClass+' replaced-svg');
                  }
  
                  // Remove any invalid XML tags as per http://validator.w3.org
                  $svg = $svg.removeAttr('xmlns:a');
                  $svg = $svg.attr("width", "25");
  
                  // Replace image with new SVG
                  $img.replaceWith($svg);
  
              }, 'xml');
  
          });

    
  </script>
  